html {
    height: 100%;
}

body {
    font-family:sans-serif;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image:url('images/LOTR-bg.jpg');
    background-size:cover;
}

a {
    color:purple;
}

a:hover {
    color:rgb(202, 0, 202);
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Trade Winds', cursive;
}

.row{
    margin-left:0;
}

section{
    width:100%;
}

.scoreboard{
    font-family: 'Press Start 2P', sans-serif;
    font-size:18px;
    background-color:white;
    width:100%;
    padding:0;
    border-bottom:2px solid black;
    position:fixed;
    opacity:0;
    margin-left:-15px;
}

.scoreboard .col-6{
    padding:20px;
}

.container-fluid{
    height:100%;
    display:flex;
    align-content: center;
}

.timer{
    text-align:right;
}

#progressBar{
    position:relative;
    bottom:0;
    width:100%;
    background: linear-gradient(90deg, red, rgb(255, 115, 0));
    margin:0;
    padding:0;
    height:15px;
}
.quiz-frame{
    margin:auto auto;
    background-color:white;
    border:purple 3px solid;
    border-radius:10px;
    padding:50px 20px;
    animation-name: open;
    animation-duration: 1s;
    animation-direction: normal; 
    overflow:hidden;
    opacity:1;
}

#start-button{
    color:white;
    background-color:purple;
}

#start-button:hover{
    color:white;
    background-color:rgb(202, 0, 202)
}

.result{
    font-family: 'Press Start 2P', sans-serif;
    background-color:white;
    font-weight:bold;
    font-size:18px;
    padding:10px;
    position:fixed;
    width:100%;
    bottom:0;
    border-top:2px solid black;
    margin-left:-15px;
    opacity:0;
}

.btn{
    background-color:purple;
    border-radius:3px;
    padding:2px 7px;
    text-decoration:none;
    color:white;
    margin:10px 10px 10px 0;
}

.btn:hover{
    text-decoration:none;
    color:white;
    background-color:rgb(202, 0, 202)
}

.end{
    display:none;
}

#highscore{
    color:purple;
    text-decoration:none;
}


#highscore:hover{
    text-decoration:none;
    color:rgb(202, 0, 202);
}

.highscore-text{
    background-color:#BDFFD6;
    font-size:20px;
    font-weight:bold;
    width:50%;
    margin:2px auto;
}

@media only screen and (max-width:750px){
    .quiz-frame{
        padding-top:50px;
    }
    h1 {
        font-size:24px;
    }
    h2 {
        font-size:20px;
    }
    .scoreboard, .result{
        font-size:12px;
    }
}