html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: linear-gradient(#e66465, #9198e5);
}

.row{
    margin-left:0;
}

section{
    width:100%;
}
.scoreboard{
    background-color:white;
    width:100%;
    padding:10px;
    border-bottom:2px solid black;
    position:fixed;
    opacity:0;
    margin-left:-15px;
    display:flex;
}

.container-fluid{
    height:100%;
    display:flex;
    align-content: center;
}

.timer{
    text-align:right;
}

.quiz-frame{
    margin:auto auto;
    background-color:white;
    border:purple 3px solid;
    border-radius:10px;
    padding:20px;
    animation-name: open;
    animation-duration: 1s;
    animation-direction: normal; 
    overflow:hidden;
    opacity:1;
}

#start-button{
    color:white;
    background-color:purple;
}

#start-button:hover{
    color:white;
    background-color:rgb(202, 0, 202)
}

.result{
    background-color:white;
    font-weight:bold;
    font-size:18px;
    padding:10px;
    position:fixed;
    width:100%;
    bottom:0;
    border-top:2px solid black;
    margin-left:-15px;
    opacity:0;
}

.answer-option{
    background-color:purple;
    border-radius:3px;
    padding:2px 7px;
    text-decoration:none;
    color:white;
    margin:10px;
}

.answer-option:hover{
    text-decoration:none;
    color:white;
    background-color:rgb(202, 0, 202)
}